flows.json
[
    {
        "id": "b8b7fd8f394ff7c8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc5f10d38cb240b8",
        "type": "debug",
        "z": "b8b7fd8f394ff7c8",
        "name": "debug1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 160,
        "wires": []
    },
    {
        "id": "b937287db774f11d",
        "type": "mqtt in",
        "z": "b8b7fd8f394ff7c8",
        "name": "Temp BMP",
        "topic": "/NS/TempBMP",
        "qos": "2",
        "datatype": "auto",
        "broker": "323c25419be56e67",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "dc5f10d38cb240b8",
                "3b15d5baa0eda1d5",
                "162dd9e1bb7780ed"
            ]
        ]
    },
    {
        "id": "3b15d5baa0eda1d5",
        "type": "ui_gauge",
        "z": "b8b7fd8f394ff7c8",
        "name": "Temp BMP",
        "group": "feec030e8d5a0543",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatur BMP",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "1145026823cf01fa",
        "type": "mqtt in",
        "z": "b8b7fd8f394ff7c8",
        "name": "Humidity AHT",
        "topic": "/NS/HumAHT",
        "qos": "2",
        "datatype": "auto",
        "broker": "323c25419be56e67",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "dc5f10d38cb240b8",
                "675d98a67af6d51d",
                "26a085a886f94af0"
            ]
        ]
    },
    {
        "id": "3850d5c5366f8c16",
        "type": "mqtt in",
        "z": "b8b7fd8f394ff7c8",
        "name": "Lux BH1750",
        "topic": "/NS/LuxBH",
        "qos": "2",
        "datatype": "auto",
        "broker": "323c25419be56e67",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "dc5f10d38cb240b8",
                "737f17aef5f99f1b",
                "afc7bac6a949a1d9"
            ]
        ]
    },
    {
        "id": "279fbf6cafc31aa8",
        "type": "mqtt in",
        "z": "b8b7fd8f394ff7c8",
        "name": "Pressure BMP",
        "topic": "/NS/PresBMP",
        "qos": "2",
        "datatype": "auto",
        "broker": "323c25419be56e67",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 520,
        "wires": [
            [
                "dc5f10d38cb240b8",
                "4a6f150c8b653ccc",
                "215f9d762e14d432"
            ]
        ]
    },
    {
        "id": "34c25952dd787037",
        "type": "mqtt in",
        "z": "b8b7fd8f394ff7c8",
        "name": "Temp AHT",
        "topic": "/NS/TempAHT",
        "qos": "2",
        "datatype": "auto",
        "broker": "323c25419be56e67",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 580,
        "wires": [
            [
                "dc5f10d38cb240b8",
                "9b8421eca4ecead5",
                "162dd9e1bb7780ed"
            ]
        ]
    },
    {
        "id": "675d98a67af6d51d",
        "type": "ui_gauge",
        "z": "b8b7fd8f394ff7c8",
        "name": "Hum AHT",
        "group": "feec030e8d5a0543",
        "order": 8,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity AHT",
        "label": "%rH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#002db3",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 360,
        "wires": []
    },
    {
        "id": "737f17aef5f99f1b",
        "type": "ui_gauge",
        "z": "b8b7fd8f394ff7c8",
        "name": "Lux BH1750",
        "group": "feec030e8d5a0543",
        "order": 12,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Lux",
        "label": "lx",
        "format": "{{value}}",
        "min": 0,
        "max": "65535",
        "colors": [
            "#0d0d0d",
            "#9c9c9c",
            "#ffffff"
        ],
        "seg1": "10",
        "seg2": "3000",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "4a6f150c8b653ccc",
        "type": "ui_gauge",
        "z": "b8b7fd8f394ff7c8",
        "name": "Pres BMP",
        "group": "feec030e8d5a0543",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "Pressure BMP",
        "label": "hPa",
        "format": "{{value}}",
        "min": "300",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 520,
        "wires": []
    },
    {
        "id": "9b8421eca4ecead5",
        "type": "ui_gauge",
        "z": "b8b7fd8f394ff7c8",
        "name": "Temp AHT",
        "group": "feec030e8d5a0543",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatur AHT",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 580,
        "wires": []
    },
    {
        "id": "162dd9e1bb7780ed",
        "type": "ui_chart",
        "z": "b8b7fd8f394ff7c8",
        "name": "Temp Chart",
        "group": "d961b7f3dc883e7c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatur",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#1c750b",
            "#ff7f0e",
            "#dce830",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "26a085a886f94af0",
        "type": "ui_chart",
        "z": "b8b7fd8f394ff7c8",
        "name": "Hum Chart",
        "group": "d961b7f3dc883e7c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#1c750b",
            "#ff7f0e",
            "#dce830",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "afc7bac6a949a1d9",
        "type": "ui_chart",
        "z": "b8b7fd8f394ff7c8",
        "name": "Lux Chart",
        "group": "d961b7f3dc883e7c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Lux",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#1c750b",
            "#ff7f0e",
            "#dce830",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 480,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "215f9d762e14d432",
        "type": "ui_chart",
        "z": "b8b7fd8f394ff7c8",
        "name": "Pres Chart",
        "group": "d961b7f3dc883e7c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#1c750b",
            "#ff7f0e",
            "#dce830",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "20b9aed5cad4853e",
        "type": "ui_spacer",
        "z": "b8b7fd8f394ff7c8",
        "name": "spacer",
        "group": "feec030e8d5a0543",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "06234399309ab4cb",
        "type": "ui_spacer",
        "z": "b8b7fd8f394ff7c8",
        "name": "spacer",
        "group": "feec030e8d5a0543",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "e7fa0cbf218953ef",
        "type": "ui_spacer",
        "z": "b8b7fd8f394ff7c8",
        "name": "spacer",
        "group": "feec030e8d5a0543",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "505f70e9554685ca",
        "type": "ui_spacer",
        "z": "b8b7fd8f394ff7c8",
        "name": "spacer",
        "group": "feec030e8d5a0543",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "8a152e189285ade9",
        "type": "ui_spacer",
        "z": "b8b7fd8f394ff7c8",
        "name": "spacer",
        "group": "feec030e8d5a0543",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "811547e4edcfa011",
        "type": "ui_spacer",
        "z": "b8b7fd8f394ff7c8",
        "name": "spacer",
        "group": "feec030e8d5a0543",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "0284094ac4b8af1a",
        "type": "ui_spacer",
        "z": "b8b7fd8f394ff7c8",
        "name": "spacer",
        "group": "feec030e8d5a0543",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "4dde1bed22e8c559",
        "type": "ui_spacer",
        "z": "b8b7fd8f394ff7c8",
        "name": "spacer",
        "group": "feec030e8d5a0543",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "9f1f04aa3048919c",
        "type": "ui_spacer",
        "z": "b8b7fd8f394ff7c8",
        "name": "spacer",
        "group": "feec030e8d5a0543",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "62fdaacd29f31eeb",
        "type": "ui_spacer",
        "z": "b8b7fd8f394ff7c8",
        "name": "spacer",
        "group": "feec030e8d5a0543",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "ce661df67eac3fd3",
        "type": "ui_spacer",
        "z": "b8b7fd8f394ff7c8",
        "name": "spacer",
        "group": "feec030e8d5a0543",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "b2b3a95ac02d4d82",
        "type": "ui_spacer",
        "z": "b8b7fd8f394ff7c8",
        "name": "spacer",
        "group": "feec030e8d5a0543",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "323c25419be56e67",
        "type": "mqtt-broker",
        "name": "nils_home",
        "broker": "192.168.1.123",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "feec030e8d5a0543",
        "type": "ui_group",
        "name": "Wetterstation",
        "tab": "fa8802acca654b77",
        "order": 1,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d961b7f3dc883e7c",
        "type": "ui_group",
        "name": "Charts",
        "tab": "fa8802acca654b77",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "fa8802acca654b77",
        "type": "ui_tab",
        "name": "Wetterstation",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]